<div id="sidebar">
	<div id="rightbar">
	  <a href="http://www.facebook.com/profile.php?id=100001813455620 ">
	    <%= image_tag('facebook_64.png', :class=>"rightbar_image") %>
	  </a>

	  <a href="http://twitter.com/#!/4parivartaNN ">
	    <%= image_tag('twitter_64.png', :class=>"rightbar_image") %>
	  </a>

	  <a href="http://www.reddit.com">
	    <%= image_tag('reddit_64.png', :class=>"rightbar_image") %>
	  </a>

	  <a href="http://www.blogger.com/profile/16495428436433190597">
	    <%= image_tag('blogger_64.png', :class=>"rightbar_image") %>
	  </a>

	</div>

	<div id="leftbar">
		  <b>
		  <div id="donate_link" class="leftbar_image">
			<%= link_to "DoNATe!", :controller => "donations" , :action => "new"%>
		  </div>

		  <div id="updates_link" class="leftbar_image">
			<%= link_to "UpDaTeS", :controller => "main" , :action => "events"%>
		  </div>

		   <div id="videos_link" class="leftbar_image">
			 <a href="http://www.youtube.com/user/Parivatann">ViDEoS</a>
		  </div>

	          <div id="team_link" class="leftbar_image">
			<%= link_to "kNoW Us!", :controller => "main", :action => "contact_us"%>
		  </div>
		   </b>
	</div>


</div>
