<html>
<head>
<title>Parivartan</title>
</head>


<body>
<div id='all_content'>
<h1>Parivartann </h1>

<%= link_to "Homepage" , :controller => "main" , :action => "home"%>
<%= link_to "About us" , :controller => "main" , :action => "about_us"%>
<%= link_to "Contact Us" , :controller => "main", :action => "contact_us"%>
<%= link_to "Events" , :controller => "main", :action => "events"%>
<%= link_to "Gallery" , :controller => "gallery" %>

<h2> OUR MISSION </h2>

<blockquote> "With great power, comes great responsibility"</blockquote>
<p>Unify all noble efforts into one big social revolution and be the catalyst for the formation of a more responsible stronger and happier nation.
Let's show to the world that we are capable of making people better citizens and our world a better place to live in.</p>

<h2> OUR VISION </h2>

<ul>
<li>To make people realize their responsibilities towards the well being of themselves and their society</li>
<li>To make people better citizens and world a better place to live. </li>
<li>To promote the sense of responsibility towards our Nation.</li>
<li>Guide the youth as well as inspire the rest to implement their fundamental rights for the benefit of the nation through better understanding and realization of their responsibilities.</li>
<li>To make present young generation to fulfill their fundamental duties with responsibility using their fundamental rights.</li>
<li>To achieve kind, caring and responsible citizens.</li>
<li>To achieve better citizenship, if not for this, then next generation for sure.</li>
</ul>

<h2>CHANNELS OF OPERATION</h2>

<p>We stress on helping tribal people, orphans, physically challenged, residents of old age homes, the poor and the needy by providing them the following:
Vocational training, basic education, basic necessities of life, Awareness regarding fundamental duties, eco-friendly environment, cleanliness, basic knowledge about common diseases, Support talented pool of students from weaker sections of society.</p>

<blockquote> “Action speaks louder than words” </blockquote>

<h2> ACTION PLAN </h2>

<p>The previous mentioned problems are not new to our society, but this time the approach taken to solve these problems will be unique. The following will be the ways to approach the problems: </p>
<ul>
<li>Follow up</li>
<li>Live demonstrations </li>
<li>Spreading awareness using internet and media.</li>
<li>Associate municipal corporations, schools, college, etc.</li>
<li>Connecting younger generation- <q>“today’s youth-drives tomorrow's INDIA”</q> </li>
</ul>
<p>As we will grow as an organization, we will come up with more impactful and powerful ways to overcome and solve the problems.</p>

<h2> HOW ARE WE DIFFERENT </h2>

<ul>
<li>We are an amalgamation of educated, determined non-political youth of India.</li>
<li>We aim at tapping on the untapped resources of our country by supporting the skilled but less fortunate citizens and help them move forward in their own areas of interest and be able to earn a living on their own.</li>
<li>We follow up all our activities and update our records through fool proof techniques.</li>
<li>We believe in non caste discrimination, our only discrimination base is economic class</li>
<li>We believe in transparency of work we and usage of funds</li>
</ul>
</div>
</body>



</html>
