<html>
<head>
<title>Parivartann</title>

<%= stylesheet_link_tag "application" %>

</head>


<body>
<div id = "allContent">
<div id="sidebar">
	<div id="rightbar">
	  <a href="http://www.facebook.com/profile.php?id=100001813455620" target="_blank">
	    <%= image_tag('facebook_64.png', :class=>"rightbar_image") %>
	  </a>

	  <a href="http://twitter.com/#!/4parivartaNN " target="_blank">
	    <%= image_tag('twitter_64.png', :class=>"rightbar_image") %>
	  </a>

	  <a href="http://www.reddit.com" target="_blank">
	    <%= image_tag('reddit_64.png', :class=>"rightbar_image") %>
	  </a>

	  <a href="http://www.blogger.com/profile/16495428436433190597" target="_blank">
	    <%= image_tag('blogger_64.png', :class=>"rightbar_image") %>
	  </a>

          <a href="http://www.youtube.com/user/Parivatann" target="_blank">
	    <%= image_tag('youtube_64.png', :class=>"rightbar_image") %>
	  </a>
	</div>

	<div id="leftbar">
		  <b>
		  <div id="donate_link" class="leftbar_image">
			<%= link_to "DONATE!", :controller => "donations" , :action => "new"%>
		  </div>

		  <div id="updates_link" class="leftbar_image">
			<%= link_to "UPDATES", :controller => "main" , :action => "events"%>
		  </div>

		   <div id="videos_link" class="leftbar_image">
			<%= link_to "  VIDEOS", :controller => "main" , :action => "videos"%>
		  </div>
		   </b>
	</div>


</div>
<div id="header_tags">
		<ul>
			<li id= "selected"><%= link_to "About us" , :controller => "main" , :action => "about_us"%></li>
			<li><%= link_to "Contact Us" , :controller => "main", :action => "contact_us"%></li>
			<li><%= link_to "Events" , :controller => "main", :action => "events"%></li>
			<li><%= link_to "Gallery" , :controller => "main", :action => "gallery"%></li>
		</ul>
</div>

<div id="background">

 <div id="content">
	<div id="header_image">
	    		<%= link_to image_tag('parivartann_logo.gif', :class=>"header_image"), :controller => "main", :action => "home"%>
			<b>CHANGE FOR BETTER</b>
	</div>
	<p>
	</br>
	'Parivartann', as the name suggests, is an initiative towards bringing a change in this society full of differences. Four old friends decided
     they'd help bring a change to the society, and that is how 'Parivartann' came into existence. They decided to bridge the gaps between our
     societies. They decided to fund the education of some innocent little children robbed off their rights to learn to read and write and grow
     up to be the better future of this society and they decided that they would make people aware of their fundamental duties.
    </p>
  <p>
     When most graduated and figured out what they're going to do for a living, to make a career for them selves,four guys decided to do something
     different. Something, that wasn't for their own selves, rather for humans who didnt has the privilege to reach as far as they did. Something
     that everyone wishes it'd happen, but none really take the initiative to make it happen. Something which would bring the much needed 'change'.
   </p>

    <p>
      'Parivartann'is about working for the society, for the needy and deprived and focusing on providing children with better opportunities to
      create a brighter future not just for the children but for the country as well.
    </p>


     <p>
       'Parivartann' supports the less fortunate children by providing them with scholarships and hence giving them a chance to prove their
       probable potential. 'Parivartann' also focuses on educating the society of their fundamental duties and helping people realize how they need
       to stand up for themselves and fight for their rights. 'Parivartann' organizes fund-raising events and also help in protecting the
       environment by coming up with new ideas and educating people about sustainable development.
     </p>
  <p>
    Team 'Parivartann' believes that the youth can help in bringing the change, because according to us, that is the right age to start
    up with this and do as much as you can for the society before any more responsibilities build up.
  </p>

  <p>
    So if you believe there is need for a change in the society and would like to help us bring the change and be a part of it, join us
  </p>

  <blockquote>"We’re there, because we care!"</blockquote>
</div>

</div>

</div>
<div id="footer_image">
</div>

</body>

</html>
