<html>
<head>
<title>Parivartan</title>
<%= stylesheet_link_tag "application" %>
</head>


<body>
<h1>Parivartann </h1>

<div id="header">

<ul>
	<li><a><%= link_to "About us" , :controller => "main" , :action => "about_us"%></a></li>
	<li><a><%= link_to "Contact Us" , :controller => "main", :action => "contact_us"%></a></li>
	<li id= "selected"><a><%= link_to "Events" , :controller => "main", :action => "events"%></a></li>
	<li><a><%= link_to "Gallery" , :controller => "main", :action => "gallery"%></a></li>
</ul>

<div id="content">
<div id="sidebar">
</div>
</div>

</div>
</body>
</html>