<html>
<head>
<title>Parivartan</title>
<%= stylesheet_link_tag "application" %>
</head>

<body>

<div id="allContent">

<%= render :partial => "sidebar" %>
<%= render :partial => "header_tags" %>
<div id="background">
 <div id="content">

		<div id="header_image">
	    		<%= link_to image_tag('parivartann_logo.gif', :class=>"header_image"), :controller => "main", :action => "home"%>
			<b>CHANGE FOR BETTER</b>
		</div>
   <div id="form">
     <h1>Stuff we have done so far.</h2>
   <ul>

     <li><%= link_to  "Blind School in Nagpur","http://imgur.com/a/V9fkl", :target=> "_blank" %></li>
     <li><%= link_to  "Say yes to PAPERBAGS." ,"http://imgur.com/a/128MD", :target => "_blank" %></li>
     <li><%= link_to  "Blind School in Nagpur","http://imgur.com/a/0W0w1", :target=> "_blank" %></li>
     <li><%= link_to  "Differently-abled hostel in Orissa","http://imgur.com/a/0W0w1", :target=> "_blank" %></li>
     <li><%= link_to  "Vivekanand Ashram(Orphanage)","http://imgur.com/a/bxjtK#0", :target=> "_blank" %></li>

   </ul>
     <h1>Stuff we want to do.</h2>
   <ul>
     <li> Funding financially weak children education in U.P.</li>
     <li> Collection of funds for educating a child from a financially weak family in Surat,Gujrat</li>
     <li> Upcoming social awareness events in Delhi</li>
   </ul>
   </div>
 </div>
</div>
<div id="footer_image">
</div>
</div>
</body>
</html>
