<html>
<head>
<title>Parivartan</title>
<%= stylesheet_link_tag "application.css" %>
</head>


<body>

<div id="allContent">
<div id="sidebar">
	<div id="rightbar">
	  <a href="http://www.facebook.com/profile.php?id=100001813455620 ">
	    <%= image_tag('facebook_64.png', :class=>"rightbar_image") %>
	  </a>

	  <a href="http://twitter.com/#!/4parivartaNN ">
	    <%= image_tag('twitter_64.png', :class=>"rightbar_image") %>
	  </a>

	  <a href="http://www.reddit.com">
	    <%= image_tag('reddit_64.png', :class=>"rightbar_image") %>
	  </a>

	  <a href="http://www.blogger.com/profile/16495428436433190597 ">
	    <%= image_tag('blogger_64.png', :class=>"rightbar_image") %>
	  </a>

          <a href="http://www.blogger.com/profile/16495428436433190597 ">
	    <%= image_tag('youtube_64.png', :class=>"rightbar_image") %>
	  </a>
	</div>

	<div id="leftbar">
		 <a href="http://www.facebook.com">
		    <%= image_tag('post-it-note-donate.jpg', :class=>"leftbar_image") %>
		  </a>

		  <a href="http://www.twitter.com">
		    <%= image_tag('Post-it-note-updates.jpg', :class=>"leftbar_image") %>
		  </a>

		  <a href="http://www.reddit.com">
		    <%= image_tag('Post-it-note-videos.jpg', :class=>"leftbar_image") %>
		  </a>
	</div>

</div>
<div id="header_tags">
	<ul>
		<li><%= link_to "About us" , :controller => "main" , :action => "about_us"%></li>
		<li><%= link_to "Contact Us" , :controller => "main", :action => "contact_us"%></li>
		<li><%= link_to "Events" , :controller => "main", :action => "events"%></li>
		<li id= "selected"><%= link_to "Gallery" , :controller => "main", :action => "gallery"%></li>
	</ul>
 </div>

<div id="background">
 <div id="content">

	<div id="header_image">
		  <a href="http://localhost:3000">
	    		<%= image_tag('parivartann_logo.gif', :class=>"header_image") %><b>CHANGE FOR BETTER</b>
       	  	  </a>
	</div>

	<div id = "gallery_image">
	<iframe class="imgur-album" width="100%" height="470" frameborder="10px" src="http://imgur.com/a/DG0nF/embed"></iframe>
	</div>

</div>
</div>
<div id="footer_image">
</div>

</div>
</body>
</html>
