<html>

  <head>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

    <div id="allContent">
<<<<<<< HEAD
      <div id="sidebar">
	    <div id="rightbar">
	      <a href="http://www.facebook.com/profile.php?id=100001813455620 " target="_blank">
	        <%= image_tag('facebook_64.png', :class=>"rightbar_image") %>
	      </a>

	      <a href="http://twitter.com/#!/4parivartaNN " target="_blank">
	        <%= image_tag('twitter_64.png', :class=>"rightbar_image") %>
	      </a>

	      <a href="http://www.reddit.com" target="_blank">
	        <%= image_tag('reddit_64.png', :class=>"rightbar_image") %>
	      </a>

	      <a href="http://www.blogger.com/profile/16495428436433190597 " target="_blank">
	        <%= image_tag('blogger_64.png', :class=>"rightbar_image") %>
	      </a>

              <a href="http://www.youtube.com/user/Parivatann" target="_blank">
	    <%= image_tag('youtube_64.png', :class=>"rightbar_image") %>
	 	 </a>
       	  </div>

      	 <div id="leftbar">
		  <b>
		  <div id="donate_link" class="leftbar_image">
			<%= link_to "DONATE!", :controller => "donations" , :action => "new"%>
		  </div>

		  <div id="updates_link" class="leftbar_image">
			<%= link_to "UPDATES", :controller => "main" , :action => "events"%>
		  </div>

		   <div id="videos_link" class="leftbar_image">
			<%= link_to "  VIDEOS", :controller => "main" , :action => "videos"%>
		  </div>
		   </b>
	</div>

    </div>

    <div id="header_tags">
      <ul>
		<li id= "selected"><%= link_to "About us" , :controller => "main" , :action => "about_us"%></li>
		<li><%= link_to "Contact Us" , :controller => "main", :action => "contact_us"%></li>
		<li><%= link_to "Events" , :controller => "main", :action => "events"%></li>
	    <li><%= link_to "Gallery" , :controller => "main", :action => "gallery"%></li>
	  </ul>
    </div>

=======
	<%= render :partial => "sidebar" %>
	<%= render :partial => "header_tags" %>
>>>>>>> 523442cbfed6b97c9f3eed7618e4b3285f1a42d6
    <div id="background">

      <div id="content">
	<div id="header_image">
	    		<%= link_to image_tag('parivartann_logo.gif', :class=>"header_image"), :controller => "main", :action => "home"%>
			<b>CHANGE FOR BETTER</b>
	</div>

       		<div id='form'>
		<h1>Help us bring the change</h1>
         		<%= render 'form' %>
       		</div>
       </div>

    </div>

    <div id="footer_image">
    </div>

  </div>
  </body>

</html>
