<%= form_for [@donating_user, @donation] do |f| %>
  <% if @donating_user.errors.any? %>
  <div id="error_fields">
    <h2><% pluralize(@donating_user.errors.count, "error") %> stopped us from processing your donation request</h2>
      <ul><%= @donating_user.errors.full_messages do |msg| %>
            <li><%=	msg %></li>
          <% end %>
      </ul>
  </div>
<% end %>
<div class="field">
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>
<div class="field">
  <%= f.label :phone_no %>
  <%= f.text_field :phone_no %>
</div>
<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div class="field">
<%= f.label :item %>
<%= f.check_box(:item, "books", {} ,"Books" , "0" ) %>
</div>
<% end %>

